<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'profile.css' %}" rel="stylesheet">
    <title>{{ user.username }}</title>
</head>
<body>
<header>
    <ul class="mnu_top">
        <li><a class="history_form1" href="{% url 'history_tasks' %}">История</a></li>
        <li style="font-size: 25px;"><a href="#form_send" class="open_form">Создать задачу</a></li>
        <li><a href="{% url 'most_page' %}">Вернуться на главную</a></li>
    </ul>
    <div class="btns">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <a href="{% url 'user_profile' %}"><span class="username">Вход выполнен как: {{ user.username }}</span></a>
            <a href="{% url 'account_logout'%}">Выйти</a>
        {% else %}
            <a class="primaryAction" href="{% url 'account_login' %}" type="submit">Войти</a>
            <a href="{% url 'account_signup' %}">Регистрация</a>
        {% endif %}
    </div>
</header>
{{ success_rate1 }} % успеваемость
</body>
</html>