header {
    margin: 44px auto;
    max-width: 95%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(52, 79, 121, .56);
}

header .mnu_top {
    list-style-type: none;
}

header .mnu_top li {
    display: inline-block;
    margin-right: 75px;
}

header .mnu_top li a {
    display: block;
    text-decoration: none;
    color: #4f4c67;
    font-size: 25px;
    font-weight: 600;
}

header .btns {
    list-style-type: none;
}

header .btns a {
    display: inline-block;
    margin-right: 75px;
    text-decoration: none;
    color: #4f4c67;
    font-size: 25px;
    font-weight: 600;
}

header .username {
    text-decoration: none;
    color: rosybrown;
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    margin-right: 35px;
}